<div class="text-center" style="position: absolute;top: 50%;left: 50%;-ms-transform: translateX(-50%) translateY(-50%);-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);">
    <p>This project is about a web application in which you store phone numbers, names, and emails of some users inside the application.</p>
    <p>The only thing that is going to be visible in the beginning is the phone number and the owner's name</p>
    <p>If you are an Admin, you can edit, see details and delete some data</p>
    <p>If you are a registered User, you can see the details of other users, but you can edit and delete only your own data (but you cannot see admin's info)</p>
    <p>If you are a visitor, you cannot do anything</p>
    <p>You can also search for phones or names (only if you are an Admin or a registered User)</p>
    <p>If you are a visitor, before entering search, it redirects you to a login page</p>
</div>
